# PyCharm
.idea/
Lib/
Scripts/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/

#larg file


#cfg
*.cfg

# Data files
*.csv
*.json

# Environment variables
.env

#Images 
*.png

*.jpeg
